<div class="row row-cols-1 row-cols-md-6 g-4">
    <div class="col" *ngFor="let salon of Maincontainer">
<div class="card h-100">
         
     
       <div class="img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFJzpBmfuqC0lPhE3I2XrAye1AUO4IRowgPw&s" heigth="200px" width="100px" >
        </div>

        <div class="card-title">
            <h2>{{salon.name}}</h2>
        </div>

        <div class="card-body">
            <h5>{{salon.address}}</h5>
            <h5 class="type">{{salon.type}}</h5>
            <h5>{{salon.timing}}</h5>
        </div>

        <!-- <div class="star-rating">
            <app-starrating [rating]="3" (ratingUpdated)="onRatingUpdated($event)"></app-starrating>
        </div> -->



   </div>
   </div> 
</div>   





























